extends layout

block content
  p= "Aside from on field performance, coaching staff, or a balance payroll, there is one major factor every NFL team needs to take into consideration when signing or trading players, locker room chemistry. Many times you hear in post-game interviews quotes similar to, \"the quarterback and I have great chemistry...we\'re good friends...our kids play together...that allows us to be on the same page on the field.\" No team wants to have a new player come in and ruin a good thing that may have taken so long to build."
  p= "This is where our tool comes into play. We have collected tweets from all NFL players with a twitter account and performed sentiment analysis on each tweet to classify it as being a positive or negative tweet. We then aggregated the results and were able to compare a player\'s sentiment side by side their performance. Now when a team or agent wants to sign or trade a player, they can use our tool as another resource to contribute to negotiations. The money has to fit, the on field performance has to fit, and now agents, coaches, and GM\'s can make sure the personality will fit as well."
  
  br
  div#nfl-logo
    img(src="/static/nfl-logo-border.gif", alt="NFL Logo", width="300px")
